.app {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
    margin: 0 auto;
    padding: 20px;

}

.exercise {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}


.light {
	--text-color: #04151f;
	background-color: #e1d8cf;
	color: var(--text-color);
}

.dark {
	--text-color: #e1d8cf;
	background-color: #2a2a38;
	color: var(--text-color);
}